<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mmr.mypage.MypageDao">
	<!-- <resultMap type="MypageVo" id="MypageMap">
		<result property="movieId" column="movie_id" />
		<result property="userId" column="user_id" />
		<result property="mypageId" column="mypage_id" />
		<result property="mypagePoint" column="mypage_point" />
		<result property="mypageComment" column="mypage_comment" />
		
		<collection property="movieList" ofType="MovieVo">
			<result property="movieId" column="movie_id" />
			<result property="movieTitle" column="movie_title" />
			<result property="moviePoint" column="movie_point" />
			<result property="fileId" column="file_id" />
		</collection>
	</resultMap> -->
	
	<select id="selectMypageList" resultType="MypageVo">
    	SELECT b.movie_id, b.movie_title, b.movie_point, b.file_id, a.mypage_point
    	FROM mypage a JOIN movie b ON a.movie_id = b.movie_id 
    	WHERE a.user_id = #{userId}
    	<if test="range == 'point'">
    	ORDER BY a.mypage_point DESC
    	</if>
    	<if test="range == 'title'">
    	ORDER BY b.movie_title ASC
    	</if>
    	<if test="range == 'regist'">
    	ORDER BY a.mypage_regist_date DESC
    	</if>
    	<if test="range == 'release'">
    	ORDER BY b.release DESC
    	</if>
	</select>
	
	<select id="selectReviewCount" resultType="int">
		SELECT COUNT(mypage_point)
		FROM mypage
	</select>
	
	<select id="selectMypageCount" resultType="int">
		SELECT COUNT(*)
		FROM mypage
		WHERE movie_id = #{movieId} AND user_id = #{userId}
	</select>
	
	<select id="selectMypage" resultType="MypageVo">
    	SELECT movie_id, user_id, mypage_point
    	FROM movie
    	WHERE movie_id = #{movieId} AND user_id = #{userId}
	</select>
	
	 <select id="selectLogin" resultType="MovieVo">
    	SELECT movie_id, movie_name, movie_point FROM movie
    	WHERE movie_id = #{movieId} AND movie_pass = #{moviePass} 
	</select>
	
	<!--  SQL문 실행시 전달받는 데이터의 타입을 parameterType 속성에 지정 가능(생략도 가능)  --> 
	 <insert id="insertMypage">
	 	INSERT INTO mypage ( movie_id, user_id, mypage_point, mypage_comment)
		VALUES ( #{movieId}, #{userId}, #{mypagePoint}, #{mypageComment} )
	 </insert>
	 
	 <delete id="deleteMypage" parameterType="string">	 
	 	DELETE FROM mypage
	 	WHERE movie_id = #{movieId} AND user_id = #{userId}
	 </delete>
  
  	<update id="updateMypage">
  		UPDATE mypage
  		SET mypage_point = #{mypagePoint}, mypage_comment = #{mypageComment}
  		WHERE movie_id = #{movieId} AND user_id = #{userId}
  	</update>
  	
  	<update id="updateMoviePoint">
  		UPDATE movie
  		SET movie_point = (SELECT AVG(mypage_point) 
  							FROM mypage 
  							WHERE movie_id = #{movieId}	AND mypage_point <![CDATA[ >= ]]> 0)
  		WHERE movie_id = #{movieId}
	</update>
 	 
</mapper>