@charset "UTF-8";

@font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), url("../../images/clapperboard-gaadc14235_1280.jpg");
    /* filter: blur(); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    opacity: 0.7;
    font-family: 'GmarketSansMedium';
    color: #C9B38E;
    height: 100%; /* 500px */
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid white; */
}

#container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    /* margin-top: 100px; */
    /* border: 2px solid white; */
    overflow: auto;
    padding-top: 110px;
    /* text-align: center; */
    /* font-size: 20px; */
}


.input_info {
	width: 90%;
    height: 100%;
    border: 3px solid #C9B38E;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 20px;
    text-size-adjust: auto;
    color: #271F21;
    font-family: 'GmarketSansMedium';
    opacity: 0.5;
    margin-bottom: 10px;
    resize: none;
}

#file_info {
	display: none;
}

#select_info {
	width: 95%;
}

#submit_info {
	margin-top: 20px;
	margin-left: 50px;
	width: 25%;
}

#submit_info:hover {
	background: #C9B38E;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}
/* mozilla solution */
input:-moz-placeholder {
  text-align: right;
}

.check_info {
	word-break:break-all;
}

.info {
	width: 90%;
	margin: 0 auto;
/* 	float: left;
	margin-left: 20px; */
	/* border: 2px solid red; */
	word-break:break-all;
}

.info div {
	margin-top: 10px;
}

#info_size {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	/* border: 2px solid pink; */
}

#title_info {
	letter-spacing: 3px;
	text-align: center;
	/* border: 2px solid pink; */
}

#title_info:after {
	content: "";
	display: block;
	width: 150px;
	border-bottom: 2px solid #C9B38E;
	margin: 20px auto;
}

#content_info {
	height: 100%;
	/* border: 2px solid red; */
}


i {
	margin-right: 10px;
	font-size: 20px;
	color: white;
	font-style: normal;
}

.submit {
	text-align: center;
}

.button_list {
	width: 110px;
	font-size: 20px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	font-family: 'GmarketSansMedium';
    color: #C9B38E;
    border-radius: 10%;
    /* border: 1px solid white; */
}

#range_list {
	padding: 5px;
	font-size: 15px;
	margin-top: -40px;
}

#content {
	float: left;
}