@charset "UTF-8";

@font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), url("../images/clapperboard-gaadc14235_1280.jpg");
    /* filter: blur(); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    opacity: 0.7;
    font-family: 'GmarketSansMedium';
    color: #C9B38E;
    width: 100%;
    height: 100%; /* 500px */
    margin: 0 auto;
}

.container {
    width: 1024px;
    height: 100%;
    /* border: 2px solid red; */
    margin: 0 auto;
}


/* ~ top10 영화 포스터 슬라이드 전체~ */
#box {
    width: 100%;
    height: 600px;
	/* margin: 100px; */
	/* float: left; */
	/* border: 2px solid orange; */
	text-align: center;
	margin-bottom: 10px;
}


/* ~ 버튼 ~ */
/* .test {
	display: inline-block;
	text-align: center;	
	border: 2px solid pink;
  		position: relative;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
} */

/* .button {
	margin: 0 auto;
	display: inline-block;
    border: 1px solid yellow;
    float:left;
} */
#back {
    font-weight: bolder;
    font-size: 30px;
    color: #C9B38E;
    float:left;
    margin-top: -300px;
   /*  border: 1px solid white; */
}
#next {
    font-weight:bolder;
    font-size: 30px;
    color: #C9B38E;
    float: right;
    margin-top: -300px;
    /* border: 1px solid white; */
}
button{
    width: 70px; height: 70px;
    /* color: white;
    background: #271F21;
    opacity: 0.7; */
    background-color: rgba( 0, 0, 0, 0.9 );
    border-radius: 30%;
}
button:active{/**버튼을 클릭하는 동안 색을 바꾼다.**/
    background:#C9B38E;
}
button:disabled{/**버튼 속성이 disabled되면 색을 바꾼다.**/
    /* background: #cbcaca; */
    /* background-color: rgba( 0, 0, 0, 0 ); */
    background: black;
    opacity: 0.5;
}


/* ~ top10 영화 포스터 슬라이드 ~ */
#slide {
    width: 700px; /*712*/
    height: 400px;
    overflow: hidden;
    /* border: 1px solid green; */
    margin: 0 auto;
    padding-top: 200px;
    /* padding-bottom: 50px; */
    /* float: left; */
    /* display: inline-block; */
}

#poster_top10 {
    position: relative;
    /* padding-top: 100px; */
    width: 2600px;
    height: 315px;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* border: 2px dotted blue; */
    transition: transform 0.5s;
}

.movie_wrapper {
    /* margin-left: 43px; */
    margin-right: 50px;
    width: 200px;
    height: 315px;
    float: left;
    /* border: 2px solid #C9B38E; */
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba( 0, 0, 0, 0.5 );
}
.movie_wrapper:hover {
transform:scale(1.1);             /*  default */
-webkit-transform:scale(1.1);  /*  크롬 */
-moz-transform:scale(1.1);     /* FireFox */
-o-transform:scale(1.1);        /* Opera */
cursor: pointer;
}

.poster {
    width: 200px;
    height: 260px;
    /* margin-right:10px; */
}
.title {
	text-align: center;
	color :#C9B38E;
	margin-bottom: -3px;
}

.point {
	text-align: center;
	color :pink;
	margin-bottom: -3px;
}


/* ~ 검색창 ~ */
#search {
    width: 500px;
    margin: 0 auto;
    /* border: 2px solid white; */
    /* box-sizing: border-box; */
  }
  
input {
    width: 500px;
    /* height: 100%; */
    border: 3px solid #C9B38E;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 20px;
    /* text-size-adjust: auto; */
    color: #271F21;
    font-family: 'GmarketSansMedium';
    
  }


/* ~ 통계 ~ */
.total {
    font-family: KyoboHandwriting2022khn;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    /* border: 1px solid white; */ 
    /* margin-top: 180px; */
    margin-top: 50px;
}
.big, .big2 {
    font-size: 30px;
}


/* ~ 푸터 ~ */
footer {
    /* margin-left: -7px;
    margin-right: -7px; */
    height: 100px;
    padding-top: 10px;
    background-color: #271F21;
    opacity: 0.8;
    font-size: 20px;
    text-align: center;
    color :#C9B38E;
    position : relative;
    transform : translateY(400%);
   /* border: 1px solid white; */
  }

/* div {
	display: block;
} */