/* ~ menu.jsp 전체 nav ~ */ 
#top{
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5));
	height: 100px;
	/* border: 2px solid white; */
	/* line-height: -15px; */
	padding-top: 20px;
	position: fixed;
	z-index: 1;
}



/* ~ 로고 + 메뉴 부분 ~ */
/* #main-nav {
	border: 1px solid white;
} */

/* .menu {
	float: left;
	color: #C9B38E;
	text-decoration: none;
	font-size: 25px;
} */



/* ~ 로고 ~ */
#hero {
    width: 170px;
    height: 20px;
    border-radius: 5px 5px 5px 5px; 
    border-bottom: 2px solid #271F21; 
    padding: 0.5em; 
    background: #C9B38E;
    float: left;
    color: #271F21;
    /* margin-left: -50px;
    margin-top: -20px; */
    /* margin: auto 0; */
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
    font-family: "KyoboHandwriting2022khn";
    cursor: pointer;
}
#icon{
    width: 35px;
    height:30px;
    margin-top: -5px;
    margin-left: -5px;
    float: left;
}
.small {
    font-size: 13px;
}
#logotitle {
    color: #271F21 !important;
	margin-top: -8px; 
    letter-spacing: 3px;
}



/* ~ 메뉴 ~ */
li {
	display: inline-block;		
	color: #C9B38E;
	font-size: /* 1.5em; */ 20px;
	/* margin: 0 30px; */
	margin-bottom: -10px;
	margin-left: 30px;
	margin-right: 10px;
	/* float: left; */
}
a {
	text-decoration: none;
}
nav a:link, a:visited {
	color: #fff;
}
nav a:hover, a:active {
	color: #C9B38E;
}




/* #main-nav {
    padding-top: 30px;
} */
#sub-nav {
	/* height: 90px; */
    float: right;
    margin-top: -80px;
    font-size: 11px;
    /* border: 1px solid red; */
    /* line-height: 100px; */
    
}



/* ~ 로그인 + 조인 ~ */
.join {
    border: 1px solid white;
    border-radius: 5px 5px;
    margin-top: 10px;
    padding: 5px;
}
